@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* font-family: 'Roboto', sans-serif; */
/* ************GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.searchcard {
  width: 320px;
  height: fit-content;
  border: solid 1px #097C0D;
  margin: auto;
  margin-top: 20px;
    }
  .searchshare {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    .searchshare .searchcarte {
      background-color: #e6f2e7;
      border: 1px solid #00ab66;
      cursor: pointer;
      border-radius: 4px;
      padding: 1px 10px;
    }
    .searchshare .searchcarte svg {
      fill: #00ab66;
    }
    
    .searchcard h4 {
      color: #097c0d;
    }
    
    .searchcard p {
      font-size: 16px;
    }
    .searchbag img {
      height: 230px;
      width: 100%;
    }
    .searchprice {
      padding: 10px;
    }
    
:root {
  --color-primary: #097c0d;
  --color-primary-variant: #e6f2e7;
  --color-primary-hover: #065709;
  --color-bg-shade700: #243757;
  --color-bg-shade600: #7A8699;
  --color-bg-shade50: #c2c7d0;
  --color-bg-shade40: #dfe2e6;
  --color-bg-shade20: #f5f6f7;
  --color-bg-shade10: #fafbfb;
  --color-error: #ea0000;
  --color-success: #00ab66;
  --color-black: #000000;
  --color-white: #ffffff;

  --transition: all 400ms ease;

  --container-width-lg: 87%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-black);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

.btn-green {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-white);
  transition: var(--transition);
}

.btn-white {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}


.btn-green:hover {
  background-color: var(--color-bg-shade40);
  color: var(--color-bg);
}

.btn-white:hover {
  background-color: var(--color-bg-shade50);
  color: var(--color-bg);
}


/* **************START OF NAVIGATION BAR*************** */


 .nav-width {
     display: flex;
     justify-content: space-between;
     background-color: var(--color-bg);
     column-gap: 5rem;
     height: 13vh;
     padding-bottom: -4rem;
 }
 
 .nav-input-cart .input-search {
     display: flex;
     /* max-width: 100%; */
     height: 40px;
     width: 90%;
     margin-top: 1.8rem;

 }
 
 .nav-input-cart .input-search input {
     border: 2px solid var(--color-bg-shade50);
     width: 100%;
     height: 38px;
     padding: 0.9rem 0.5rem;
     margin-top: 0.2rem;
     border-radius: 5px;
 }
 
 .nav-input-cart .input-search input::placeholder {
     color: var(--color-bg-shade50);
     padding-left: 1rem;
 }

 .nav-input-cart {
     width: 100%;
     display: flex;
     justify-content: space-between;
     gap: 0.6rem;
 }

 .nav-input-cart2 {
    width: 100%;
    display: none;
    /* justify-content: space-between; */
    gap: 0.6rem;
}
 
 .nav-input-cart .cart {
     height: 40px;
 }

 .nav-logos  {
     margin-top: -0.9rem;
     width: 250px;
 }

 .reverse {
     display: flex;
     gap: 1rem;
     margin: 0 auto;
     width: 90%;

 }
 
 .search-list {
     display: flex;
     justify-content: space-around;
     padding-top:-6rem;
    
 }
 
 .menu-list ul{
     display: flex;
     gap: 0.6rem;
     margin-top: 1.9rem;
 }
 
 .menu-list ul li {
     font-weight: 500;
     padding: 0.3rem;
 }

 .menu_btn {
    display: none;
    z-index: 999;
    border: 1px solid white;
    padding: 2px 10px;
    background-color: #f2f4fa;
    border-radius: 3px;
}
 
 .actives, .menu-list ul li:hover {
     background-color: var(--color-primary-variant);
     color: var(--color-black);
     border-radius: 5px;
     transition: var(--transition);
 }
 
 .sub-menu1 {
     display: none;
 }
 
 .menu-list ul li:hover .sub-menu1 {
     display: block;
     position: absolute;
     background-color: var(--color-bg-shade40);
     margin-top: 2px;
     margin-left: -12px;
 }
 
 .menu-list ul li:hover .sub-menu1 ul {
     display: block;
     margin: 8px;
 }
 
 .menu-list ul li:hover .sub-menu1 ul li {
     width: fit-content;
     padding: 10px;
     border-bottom: 1px dotted var(--color-white);
     background: transparent;
     border-radius: 0;
     text-align: left;
 }
 
 .menu-list ul li:hover .sub-menu1 ul li:last-child {
     border-bottom: none;
 }
 
 .menu-list ul li:hover .sub-menu1 ul li a:hover {
     color: var(--color-bg-shade70)
 }
 
 /* **************END OF NAVIGATION BAR*************** */


.nav-width {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  column-gap: 4rem;
  height: 18vh;
  padding-bottom: -4rem;
}

.input-search {
 display: flex;
  width: 40%;
  height: 40px;
  margin-top: 1.8rem;
  display: flex;
}

.input-search input {
  border: 2px solid var(--color-bg-shade50);
  width: 100%;
  height: 30px;
  padding-left: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 5px;
}

.input-search input::placeholder {
  color: var(--color-bg-shade50);
  padding-left: 1rem;
}


/* -----ADD TO CART CSS----- */
.cart {
  margin: 1.9rem 1.4rem 0 1rem;
  height: 40px;
  position: relative;
}

.cart span#counter {
  user-select: none;
  text-align: center;
  position: absolute;
  background: #000;
  width: 1rem;
  height: 1.2rem;
  font-size: .8rem;
  border-radius: 50%;
  font-weight: bold;
  top: 3px; 
  right: 5px;
  color: #fff !important;
}

/* .cart span#counter:not(.animated-counter){
  display: none;
} */

.cart span#counter .animated-counter {
  animation: count .4s ease-in-out;
}

@keyframes count {
  from {
    top: 3px;
    right: -10px;
    transform: rotate(120deg);
  }
  25% {
    top: -3px;
    right: -8px;
    transform: rotate(80deg);
  }
  50% {
    top: -6px;
    right: -4px;
    transform: rotate(60deg);
  }
  75% {
    top: -6px;
    right: 0px;
    transform: rotate(30deg);
  }
  to {
    top: 3px;
    right: 3px;
    transform: rotate(0deg);
  }
}

/* ------END OF ADD TO CART--------- */



.search-list {
  display: flex;
  padding-top: -6rem;
}

.menu-list ul {
  display: flex;
  gap: 0.8rem;
  margin-top: 1.9rem;
}

.menu-list ul li {
  font-weight: 500;
  padding: 0.5rem;
}

.actives,
.menu-list ul li:hover {
  background-color: var(--color-primary-variant);
  color: var(--color-black);
  border-radius: 5px;
  transition: var(--transition);
}

.sub-menu1 {
  display: none;
}

.menu-list ul li:hover .sub-menu1 {
  display: block;
  position: absolute;
  background-color: var(--color-bg-shade40);
  margin-top: 2px;
  margin-left: -12px;
}

.menu-list ul li:hover .sub-menu1 ul {
  display: block;
  margin: 8px;
}

.menu-list ul li:hover .sub-menu1 ul li {
  width: fit-content;
  padding: 10px;
  border-bottom: 1px dotted var(--color-white);
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-list ul li:hover .sub-menu1 ul li:last-child {
  border-bottom: none;
}

.menu-list ul li:hover .sub-menu1 ul li a:hover {
  color: var(--color-bg-shade70);
}

/* **************END OF NAVIGATION BAR*************** */

/* ****************START OF FOOTER************** */



.footer-contact-width {
  background-image: url(/assets/home-bg.png);
  background-size: cover;
  background-size: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}




.footer-quicklink {
  padding-left: 10rem;
  padding-top: 2rem;
}

.footer-quicklink h3 {
  color: var(--color-primary);
  padding-bottom: 1rem;
}

.footer-quicklink ul li a {
  color: var(--color-black);
}

.footer-quicklink ul li a:hover {
  color: var(--color-bg-shade50);
}

.footer-social {
  padding-top: 2rem;
}

.footer-address {
  padding-left: 15rem;
  padding-top: 2rem;
}

.footer-address h3 {
  color: var(--color-primary);
  padding-bottom: 1rem;
}

.footer-address-abj {
  padding-bottom: 1rem;
}

.footer-phone {
  display: flex;
  gap: 0.3rem;
  padding-top: 1rem;
}

.footer-phone p {
  margin-top: -0.3rem;
}

.green {
  color: var(--color-primary);
  font-weight: 500;
}

.footer-social h3 {
  color: var(--color-primary);
}

.social-icons {
  padding: 0.4rem 0;
  display: flex;
  gap: 2rem;
}

.social-icon {
  border: 1px solid var(--color-bg-shade700);
  width: 30px;
  border-radius: 50%;
}

.social-icon svg {
  padding-top: 0.3rem;
  width: 100%;
}

.news-letter {
  background-color: var(--color-primary-variant);
  height: 40vh;
  margin-top: 2rem;
  padding-top: 3rem;
}

.news-letter-width {
  width: 70%;
  margin: 0 auto;
}

.news-letter-width h3 {
  text-align: center;
}

.news-email {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.new-email {
  display: flex;
  gap: 0.2rem;
}

.new-email input {
  padding: 0.39rem;
  border-radius: 5px;
  width: 130%;
  position: relative;
}

.email {
  position: absolute;
  right: 10rem;
  margin-top: -1.5rem;
}

.copyright {
  background-color: var(--color-primary-variant);
  text-align: center;
  color: var(--color-bg-shade50);
}

.copyright-width {
  display: flex;
  justify-content: center;
}

.reserved {
  margin-top: -0.51rem;
  margin-left: 0.4rem;
}

/* ****************END OF FOOTER************** */

/* *************MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .container {
      width: var(--container-width-md);
    }  
  
    .menu-list ul{
        display: none;
        gap: 0.5rem;
        margin-top: 1.9rem;
    }

    .footer-contact-width {
        background-image: url(/assets/home-bg.png);
        background-size: cover;
        background-size: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .search-list {
        display: block;
        justify-content: space-around;
        padding-top:-6rem;
    
    }
   
    .nav-logos  {
        margin-top: 0.3rem;
        width: 200px;
    }
    
    .footer-address {
        padding-left: 0;
        padding-top: 2rem;
    }

    .nav-width {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-white);
        column-gap: rem;
        height: 13vh;
        padding-bottom: 4rem;
    }

    .nav-width ul {
        display: inline-block;
        position: fixed;
        background-color: rgb(0, 0, 0, 0.8);
        height: 100vh;
        left: -100%;
        top: 0rem;
        width: 100%;
        text-align: center;
        padding-top: 80px;
        z-index: 9999;
        transition: all 0.6s ease-in;
    }
    .nav-width ul.active {
        left: 0;
    }
    .nav-width ul li {
        display: block;
        margin: 25px;
        padding-bottom: 9px;
        
    }
    .nav-width ul li a {
        display:inline-block;
        margin: 20px o;
        color: #f2f4fa;
    }
    .menu_btn {
        display: block;
        z-index: 999999;
        height: fit-content;
        font-size: 1.3rem;
        border: 1px solid white;
        padding: 8px 20px;
        margin-top: 1.4rem;
        background-color: var(--color-bg-shade20);
        border-radius: 3px;
        cursor: pointer;
    }
    .menu_btn i.active::before {
        content: "\f00d";
    }

    .input-search {
        display: flex;
        width: 40%;
        height: 40px;
        margin-top: 1.8rem;
        display: flex;
      }
      
      .nav-input-cart {
          display: none;
          flex-direction: column;

      }

    .nav-input-cart2 {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;
    }

    .nav-input-cart2 .input-search2 {
        display: flex;
        /* max-width: 100%; */
        height: 40px;
        width: 90%;
        margin-top: 1.8rem;
   
    }
    
    .nav-input-cart2 .input-search2 input {
        border: 2px solid var(--color-bg-shade50);
        width: 100%;
        height: 38px;
        padding: 0.9rem 0.5rem;
        margin-top: 0.2rem;
        border-radius: 5px;
    }
    
    .nav-input-cart2 .input-search2 input::placeholder {
        color: var(--color-bg-shade50);
        padding-left: 1rem;
    }

    .nav-input-cart2 .cart2 {
        margin-top: 1.9rem;
        height: 40px;
    }

    .news-email {
      display: block;
      justify-content: space-between;
      padding-top: 3rem;
      margin-bottom: 2rem;
    }

    .new-email {
      padding: 1rem 0;
      display: flex;
    }

    .copyright {
      padding-top: 1rem;
    }
   
  }
  
  /* *************MEDIA QUERIES (SMALL DEVICE)*********** */
  
  @media  screen and (max-width: 600px) {
    .container {
      width: var(--container-width-sm);
    }  
  
    .footer-contact-width {
        background-image: url(/assets/home-bg.png);
        background-size: cover;
        background-size: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-quicklink {
        padding-left: 0;
        padding-top: 2rem;
    }

  .container {
    width: var(--container-width-md);

  }

  .nav-input-cart2 {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
}

.nav-logos  {
    margin-top: 0.9rem;
    width: 150px;
}
}
