/* Review container */

.overview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1.5rem;
}

.cart-review {
    padding: 1rem;
    background: #fff;
}

.product-review {
    display: flex;
    justify-content: space-between;
    /* padding: 0.5rem; */
}

.product-review-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-right: 1rem;
}

.product-review-img {
    width: 75px;
    height: 89px;
}

.product-review-img img {
    width: 100%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.user-review {
    padding: 0.75rem;
    background-color: #fff;
}

.user-review h4 {
    margin: 1rem;
}

.payment-review {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    /* align-items: center; */
}

.check-box {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #097C0D;
}

.check-box-active {
    background-color: #097C0D;
}

.card-details {
    border: 1px solid #222;
    margin-bottom: 2rem;
    position: relative;
    /* justify-content: space-between; */
}

.card-img-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.card-img h5 {
    font-size: 1rem;
}

.fedex-shipping {
    border: 1px solid #222;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    margin-top: 1rem;
}

.fedEx-des h5 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.add-shipping-btn {
    display: flex;
    gap: 10px;
}

.add-card {
    border: 1px solid white;
    padding: 1rem 2rem;
    background-color: #097C0D;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    position: relative;
    left: 40%;
    margin-bottom: 1rem;
    font-weight: 600;
    transition: 0.3s;
}

.border-green {
    border: 1px solid #097C0D;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
}

.confirm-order {
    border: 1px solid white;
    padding: 1rem 2rem;
    background-color: #097C0D;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    margin: 1rem auto;
    font-weight: 600;
    /* text-align: center; */
    /* width: 100px; */
    /* width: 40%; */
    position: relative;
    left: 35%;
    transition: 0.3s;
}

.add-card:hover {
    background: var(--color-white);
    color: var(--color-primary-hover);
    border: 1px solid var(--color-bg-shade50);
}

.confirm-order:hover {
    background: var(--color-white);
    color: var(--color-primary-hover);
    border: 1px solid var(--color-bg-shade50);
}

@media (min-width: 764px) {
    .overview-container {
        flex-direction: row;
    }
    .cart-review {
        max-width: 450px;
        max-height: 500px;
    }
    .user-review {
        max-width: 320px;
    }
    .card-details {
        max-width: 800px;
    }
    .user-review h4 {
        margin-bottom: 3rem;
    }
    .confirm-order {
        width: 200px;
        margin-bottom: 2rem;
    }
    .fedex-shipping {
        margin-top: 2rem;
    }
    .confirm-order {
        left: 45%;
        width: 200px;
    }
    .order-h3 {
        position: relative;
        left: 10%;
    }
}