@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

 .results{
   
    } 
   
:root {
    --color-green: #097C0D;
    --ash-color: #DFE2E6;
}


section#agroeducation-section {
    width: 100%;
    margin-top: 3rem;
}


section main div.heading {
    display: flex;
    justify-content: center;
}

section main div.heading #agronews{
    margin-right: 2rem;
    border-bottom: var(--color-green) solid 2px;
    color: black;
}


section main div.heading #agroeducation {
    margin-left: 2rem;
    color: black;
}

/* BODY */
.body {
    margin: 2% auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 90%;
    height: 60rem;
}

.news-grid {
    display: block;
}


.four-news {
    width: 65%;
    display: block;
    /* padding: 1rem; */
}

.news-item {
    height: 27rem;
    border: var(--ash-color) 1px solid;
    width: 22rem;
}


.agro-news-main {
    width: 95%;
    margin: 0 auto;
}


.agro-news-main #agro-main-picture {
    width: 100%;
    height: 100%;
}

.agro-news-others {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 4rem;
}


.news-item .product-image {
    width: 100%;
    height: 55%;
}

.news-item .product-image img  {
    width: 100%;
    height: 100%;
}


h3.item-title {
    background-color: #E6F2E7;
    color: var(--color-green);
    padding: .8rem;
}

.item-link {
    display: block;
}

.item-link .item-link-heading {
    font-size: 1.1rem;
    padding-left: .8rem;
    padding-top: .8rem;
}

.item-content {
    display: flex;
    font-size: .8rem;
    margin: 0 1rem;
    justify-content: space-between;
}

.item-content .item-content-text {
    width: 80%;
}


.button-cover {
    border: rgb(184, 182, 182) 1px solid;
    border-radius: 3px;
    height: 2.5rem;
    width: 3rem;
}


.update {
    width: 25%;
    height: 56rem;
    background-color: #FAFBFB;
    border: var(--ash-color) 1px solid;
}

.update #latest-update-heading {
    text-align: center;
    color: #fff;
    height: 4rem;
    background-color: var(--color-green);
    padding: 1rem;
    font-size: 1rem;
}

.updated-news {
    display: flex;
    width: 100%;
    justify-content: space-around;
    column-gap: 20px;
    margin: 2rem 0;
    padding: 5px;
}

.arrow-left {
    padding-left: 5px;
    color: var(--color-green);
    font-size: 1.5rem;
}
.agronews-angle{
    margin-top: 12px;
    cursor: pointer;
    margin-left: 15px;
}
.agronews-links{
    color: black;
    cursor: pointer;
}
.other-news {
    display: flex;
    width: 70rem;
    height: 35rem;
    margin: 2rem auto;
    justify-content: space-evenly;
}