/* Setting the intial properties */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.create-account-container {
    background: url(/assets/login-bg.png) no-repeat center center/cover;
    padding: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 1000px; */
}

.forms {
    width: 35%; 
    margin: 3rem auto;
    /* height: 100%; */
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 3rem 3rem 5rem 3rem;
}

/* div.forms {
    width: 25%;
    height: 70vh;  
    margin: 5% auto;
} */

h3.title {
    text-align: center;
    color: var(--color-primary);
    font-weight: 700;
    /* font-size: 33.18px; */
    margin-bottom: 2rem;
    margin-top: 5%;
}

input#firstname, 
input#lastname,
input#email,
input.password,
input#phone-number {
    border: 1px solid var( --color-bg-shade600);
    border-radius: 5px;
    height: 2.5rem;
    padding: 3px;
    margin-bottom: 0.8rem;
}

/* Forms Proper */
.create-names {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    gap: 30px;
    margin-bottom: 0 1rem 1.5rem 1rem;
    color: var( --color-bg-shade600);
}

div.other-fields {
    color: var( --color-bg-shade600);
}

input#email,
input#phone-number,
input.password {
    width: 100%;
    margin-bottom: 1.5rem;
}
.create-password{
    position: relative;
}
.create-password i{
    font-size: 1.2rem;
    position: absolute;
    right: 20px;
    bottom: 36px;
}
p.sign-in {
    text-align: center;
}

div.submit {
    width: 100%;
}

#submit-btn {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    padding: 10px 16px;
    font-weight: 700;
    font-size: 19.2px;
    margin: 0 auto 3rem auto;
    cursor: pointer;
    display: flex;
}
#submit-btn:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* FOR ERROR MESSAGES */
.errorMessage {
    color: red;
    width: 100%;
    font-size: .9rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-top: -1rem;
}

/* Smaller screen */
@media  (min-width: 768px) and (max-width: 1100px) {
    .forms {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .forms {
        width: 100%;
        margin: 1rem auto;
        padding: 0;
        padding: 0.2rem 1rem 1rem 1rem;
    }
    .create-names {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 100%; 
        gap: 10px;
        margin-bottom: 0 0.6rem 1rem 0.6rem;
        color: var( --color-bg-shade600);
    }
    input#firstname, 
    input#lastname,
    input#email,
    input#password,
    input#phone-number {
        width: 100%;
    }
    .create-password i.fa-eye{
        font-size: 1.2rem;
        position: absolute;
        right: 20px;
        bottom: 34px;
    }
    #submit-btn {
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        color: var(--color-primary);
        padding: 10px 16px;
        font-weight: 700;
        font-size: 16px;
        margin: 0 auto 3rem auto;
        /* text-align: center; */
        cursor: pointer;
        display: flex;
    }

}